<div class="container">
  <%= render partial: @user %>
  <div class="user-bio">
    <h5>Bio:</h5>
    <p><%= @user.bio %></p>
  </div>

  <%= render @posts %>

  <button class="all-post-btn"><%= link_to ("See all posts"),user_posts_path(@user.id) %></button>
</div>
