<div class="container">
<%= render @post %>
  
  <div class= "post-comments">
      <%@comments.each do |comment|%>
          <p><strong><%= comment.author.name %>: </strong><%=comment.text%></p>
      <%end%>
  </div>

  <button class="all-post-btn"><%= link_to "Back to posts", user_posts_path %></button>
</div>