.new-post-title,
.container-title {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  font-size: 36px;
  font-weight: 300;
}

form.post-form input[type=submit],
form.comment-form input[type=submit],
form.new-like input[type=submit],
form.edit_user input[type=submit],
form.new_user input[type=submit] {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  border: 1px solid var(--third-color);
  background-color: var(--fifth-color);
  padding: 0.4rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  transition: all 100ms ease-out;
}

form.new-like input[type=submit] {
  width: 80%;
}

.new-comment {
  width: 40%;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--third-color);
  border-radius: 0.5rem;
  background-color: var(--second-color);
}

form.post-form,
form.comment-form,
form.new-like,
form.edit_user,
form.new_user {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form.post-form input[type=text],
form.comment-form input[type=text],
form.new_user input[type=text],
form.new_user input[type=email],
form.new_user input[type=password],
form.edit_user input[type=text],
form.edit_user input[type=email],
form.edit_user input[type=password],
form.new_user textarea,
form.edit_user textarea,
form.post-form textarea {
  width: 80%;
  background-color: var(--main-color);
  border: 1px solid var(--third-color);
  border-radius: 0.25rem;
  height: 30px;
  padding-left: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}

form.edit_user textarea,
form.new_user textarea,
form.post-form textarea {
  text-align: justify;
  height: 100px;
  padding: 5px;
}

form.post-form div,
form.comment-form div,
form.new-like div,
form.edit_user div,
form.new_user div {
  margin: 0.75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form.post-form div label,
form.new_user div label,
form.edit_user div label,
.min-pass {
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.shared-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cancel-acc {
  display: none;
}

.shared-links a {
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  transition: color 200ms ease-in-out;
}

.shared-links a:hover {
  color: var(--main-color);
}
