.user-bio {
  width: 100%;
  min-height: 80px;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--third-color);
  border-radius: 1rem 0 1rem 0;
}

.user-bio h5 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  text-align: left;
  padding: 0.75rem 0 0 0.75rem;
}

.user-bio p {
  width: 100%;
  color: var(--main-color);
  padding-bottom: 0.75rem;
}

.all-post-btn {
  background-color: var(--second-color);
  padding: 0.25rem;
  width: 40%;
  border-radius: 0.25rem;
  border: none;
  margin: 1rem 0;
}
