.user-card {
  background-color: var(--main-color);
  border-radius: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 5px var(--fourth-color);
}

.user-card a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 7;
  height: 100%;
}

.user-card-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  margin-right: 2rem;
  flex: 2;
}

.user-card-img img {
  height: 200px;
  width: auto;
  border-radius: 0.3rem;
}

.card-body {
  flex: 8;
}

.card-body h2 {
  font-size: 45px;
  font-weight: 600;
  width: 90%;
}

.card-body p {
  font-size: 14px;
  font-weight: 300;
  width: 90%;
}

.posts-counter {
  margin-bottom: 0.75rem;
  height: 30%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}

.posts-counter span {
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}

.posts-counter strong {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
}
