<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src=<%= asset_path('favicon.png') %> alt="BlogApp"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>